---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Welcome to NEEDS!</h1>
			<p>
				This is the official Real Estate site for a top Real Estate Company ready to provide you with excellent service at Phone Number: ###-###-#### <br>
or email: ___@_____.com
			</p>
			<p>

			</p>
			<p>Here are a few ideas on how to get started with the new home search:</p>
			<ul>
				<li>001 - location</li>
				<li>002 - price </li>
				<li>003 - schools in the area</li>
				<li>004 - taxes</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
